@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&display=swap');

*
{
	margin:0;
	padding:0;
	outline:0;
	appearance:none;
	border:0;
	text-decoration:block;
	list-style:none;
	box-shadow:border-box;
}
body{
	
	width:100%;
	height:100vh;
	font-family:'Poppins', sans-serif;
	font-size:0.88rem;
	background-color:#f3f3f3;
	user-select:none;
	overflow-x:hidden;
}
.warpper
{
	display:flex;
	width:200px;
	height:200%;
	background:black;
}
.warpper .sidbar
{
	padding:30px 0;
	margin-top:1.4rem;
	font-size:13px;
	border-bottom:2px solid rgba(0,0,0,0.05);
}
.danger
{
	color:#ff7782;
}
.warpper .sidbar .logo
{
	margin-left:40px;
	display:flex;
	gap:1rem;
	word-spacing:10px;
	margin-top:-30px;
	margin-bottom:10px;
	border-bottom:2px solid rgba(0,0,0,0.05);
}

 .warpper .sidbar .logo img
{
	width:2rem;
	height:2rem;
	margin-top:10px;
	
}
.warpper .sidbar .logo h2 
{
	font-size:20px;
	color:#818181;
	
	text-transform:uppercase;
	word-spacing:10px;
	text-align:center;
	margin-right:10px;
	margin-top:10px;
}
.sidbar ul li
{
	font-size:0.87rem;
	font-size:13px;
	
}
 .sidbar ul li a
{
 
  font-size:13px;
  color: #818181;
  display:flex;
	cursor:pointer;  
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  margin-LEFT:20px;
}
.dropdown 
{
	font-size:10px;
}
.dropdown a {
  padding: 10px 12px 6px 10px;
  text-decoration: none;
  font-size:10px;
  font-size:10px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align:right;
  cursor: pointer;
  outline: none;
 
}
.dropdown-btn
{
  margin-LEFT:20px;
  padding: 10px 12px 6px 10px;
  
  text-decoration: none;
  font-size:13px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
 }
.dropdown  a:hover, .dropdown-btn:hover {
 color:blue;
	margin:0;
}
.dropdown  button:hover
{
	background-color:white;
	color:blue;

}
.dropdown-container {
  display: none;
  padding-left:2px;
}
.fa-caret-down {
  float: right;
	margin-top:5px;
  padding-right:10px;
}
.sidbar ul #il
{
	padding-right:7px;
	margin-top:3.5px;
	list-style-type:none;
	
}

.sidbar ul #i
{
	padding-right:7px;
	margin-top:2px;
	list-style-type:none;
}
.warpper .sidbar ul li a 
{
	list-style-type:none;
	text-decoration:none;
	margin-right:20px;
	
}
.warpper .sidbar ul li:hover
{
	background:white;
}
.warpper .sidbar ul li:hover a
{
	background:white;
}
.back
{
	width:800px;
	margin-top: 50px;
	margin-left:90px;

}
.form-popup h2 
{
	color:black;
	margin-top:-30px;
	margin-bottom:50px;
}
.form-popup 
{
	margin:0px 50px;
	color:black;
	
}
.back .row input
{
	
	width:300px;
	border:2px solid black;
}

.form-group1 input
{
	margin-top:50px;
	margin-right:5px;
	width:230px;
	float:left;
	border:2px solid black;
}
.form-group1 select
{
	margin-top:50px;
	margin-right:5px;
	width:230px;
	float:left;
	border:2px solid black;
}
.back .row1 
{
	width:300px;
	float:left;
	
}
.row
{
	display:block;
	align-items:center;
	justify-content:space-between;
}
.form-group4 input
{
	margin-right:40px;
	margin-top:50px;
	width:280px;
	float:right;
	border:2px solid black;
}
.row .form-group1
{
	flex-basis:26%;
	padding-right:20px;
	margin-left:100px;
	width:200%;
  height:5hv;
 
}
.form-group3 
{
	margin-left:30px;
	}
.form-group3 input
{
	margin-left:30px;
	width:200px;
	float:left;
}

.form-group5 input
{
	width:20%;
	color:black;
	padding: 20px 10px;
	margin-right:10px;
	margin-top:120px;
	float:right;
	background:#009879;
color:black;
padding:5px 20px;
border-radius:2px;
font-size:15px;
}
