<html>
<head>
 
<title>Login Page</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='myfont/css/all.min.css')}}">
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static',filename='files/css/index.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='files/myfont/css/all.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='files/ja/jquery.js')}}">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   <div class="a">
   <div class="form-popup" id="myForm">
                <form  class="form-container" action="/login" method="POST" >
                    <h1><b>Login </b></h1>

                     {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category,message in messages %}
                        <div class="alert alert-{{category}}">{{message}}</div>
                    {% endfor %}
                {% endif %}
                {% endwith %}

                    
                        <label>Username</label>
                        <input type="text" name="name" class="form-control" required>
                    
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" required>
                    
                        <input type="submit" value="Login" class="btn">
                        <a href="{{url_for('register')}}" class="btn ">Register</a>
                   
                </form>
                    </div>
            </div>
  
</body>
</html>
<script>
    $(document).ready(function(){
        $(".alert").hide(2000)
    });
</script>
<script>
    $(document).ready(function(){
        $("form").attr("autocomplete","off");
    });
</script>
