<html>
<head>
 
<title>Update Members</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='myfont/css/all.min.css')}}">
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static',filename='files/css/member_record.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='files/myfont/css/all.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='files/ja/jquery.js')}}">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   <div class="a">
   <div class="form-popup" id="myForm">
				<form class="form-container"  method="POST" action="">
                <h2><b>Update Members</b></h2>
 
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" value="{{data['name']}}">
                
                    <label>Address</label>
                    <textarea class="form-control" name="address">{{data['address']}}</textarea>
                    <label>Contact</label>
                    <input type="text" class="form-control" name="contact" value="{{data['contact']}}">
                    <label>Mail</label>
                    <input type="text" class="form-control" name="mail" value="{{data['mail']}}">
                    <label> </label>
                    <input type="text" class="form-control" name="mail1" value="{{data['mail1']}}">
                
                    <input type="submit" class="btn btn-success btn-block" value="Update">
                
            </form>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $("form").attr("autocomplete","off");
</script>