<html>
<head>
 
<title>Inventory System</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='myfont/css/all.min.css')}}">
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static',filename='files/css/update_record.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='files/myfont/css/all.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='files/ja/jquery.js')}}">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="a">
   <div class="form-popup" id="myForm">
				<form class="form-container"  method="POST" action="">
                <h2><b>Update Item</b></h2>
                  <label for="email"><b>Item</b></label>
                    <label></label>
                    <input type="text" class="form-control" name="name" value="{{data['name']}}">
					<label "{{data['address']}}"><b>Status</b></label>
                    <select class="form-control" name="address">
					<option> active</option>
					<option> unactive</option>
					</select>
                <input class="btn cancel" onclick="closeForm()" type="submit"  value="Update">
					</form>
        </div>
    </div>
	
	</body>
	</html>	